<form *ngIf="template.ideventTemplate != 0" [formGroup]="eventForm" (ngSubmit)="onSubmit()" class = "form-group">
<div class = "vertical-separator" >
    <div class = "event text">
        <!-- <input type="text" formControlName="Name" id="Name"> -->
        {{template.Name}}
    </div>
    <div class = "weight" >
        <input type="number" formControlName="Weight" id="Weight" >
    </div>
    <div>
        <button type="submit" id="Add">Add</button>
    </div>

</div>
</form>

<form *ngIf="template.ideventTemplate == 0" [formGroup]="newEventForm" (ngSubmit)="onSubmit()" class = "form-group">
    <div class = "vertical-separator" >
        <div class = "event text">
            <input type="text" formControlName="Name" id="Name">

        </div>
        <div class = "weight" >
            <input type="number" formControlName="Weight" id="Weight" >
        </div>
        <div>
            <button type="submit" id="Add">Add</button>
        </div>
    
    </div>
    </form>
<br>