<div class="category-list vertical">
    <p>Categories</p>
    <div *ngFor="let category of categories" class="categorydiv">
        <input type="radio" id="{{category.Name}}" name="category" value="{{category.Name}}"
            (click)="onCategoryClick(category)" >
        <label for="{{category.Name}}">{{category.Name}}</label>
    </div>
    <p>Create new category</p>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmitNewCategory()" class = "form-group">
        <div class = "vertical-separator" >
            <div class = "event text">
                <input type="text" formControlName="Name" id="Name">
    
            </div>
            <div>
                <button type="submit" id="Add">Add</button>
            </div>
        
        </div>
    </form>
    <p>{{resString}}</p>
</div>