<div class="eventBar">
    Friend list
</div>

<div id="usernameform">

    <button (click)="goToAddFriend()" class="addfriendbutton">Add friend</button>
</div>
<div class = "separator"></div>
<div class = list>

    <app-friend  *ngFor="let friend of friends" [friend]="friend" ></app-friend>
</div>
<div *ngIf="requestVisible">
    <p>Friend requests</p>
    <div *ngFor="let friendRequest of friendRequests">
        <p>{{friendRequest.Name}}</p>
        <button (click)="acceptFriendRequest(friendRequest)">Accept</button>
        <button (click)="declineFriendRequest(friendRequest)">Decline</button>
    </div>
</div>