<!-- This is the main component of the application. It is the first component to be loaded and it contains the router-outlet that will load the other components. It also contains the top bar that is displayed on every page but the login page. -->
<div class="topBar" *ngIf="!this.router.url.includes('login')">
    <div class="titleContainer">
        <div (click)="goHome()" class="titleText"> UMad?</div>
    </div>
    <i (click)="goHome()" class="fa-solid fa-home"></i>
    <i (click)="disconnect()" class="fa-solid fa-unlink"></i>
</div>
<router-outlet></router-outlet>