<p>{{user.Name}}</p>
<img [src]="imageSource" alt="UMad" width="99%" />
<!-- <progress value ={{user.Mood}} max="100"></progress> -->
<div class="progress-bar-container">
    <div class="progress-bar">
        <div class="marker start text">-100</div>
        <div class="marker middle text ">0</div>
        <div class="marker end text">100</div>
    </div>
</div>

<div class="button-separator">
<button (click)="addEvent()" [disabled]="!isAddEventActive" style="margin-right: 20px">Add an event</button>
<button (click)="seeEvents()" style="margin-left: 20px">See all events</button>
</div>